---
name: Home
title: Home
tags: navigation
order: 1
---

{% extends 'default.html' %}

{% block head %}
  <link rel="stylesheet" href="/css/home-page.css">
{% endblock %}

{% block content %}

<h1>Welcome to Moddy App</h1>
<div class="subtitle">
  <p>
    Moddy is your all-in-one Discord bot solution for server management and moderation.
  </p>

  <p>
    Get started by signing in to access your dashboard and configure your bot settings.
  </p>

  <p>
    If you have any questions or need support, you can reach us on our <a href="https://moddy.app/support/" target="_blank"><strong>support server</strong></a> or by email at <strong><a href="mailto:hello@moddy.app">hello@moddy.app</a></strong>.
  </p>
</div>

{% endblock %}
